{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-danger" role="alert">
      Your username and password didn't match. Please try again.
  </div>
{% endif %}
<div class="form-body">

<form class="form-signin" method="post">
  
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>

    {% for field in form %}
      <div class="form-label-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
       
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
       
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      
    {% endfor %}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
  
  </form>
  </div>
{% endblock %}