<!-- blog/templates/blog/post_detail.html -->
{% extends "layouts/blog.html" %}
{% block title %}My blog{% endblock %}
{% block content %}
    <h1>{{ object.title|title }}</h1>
    Published At: <strong>{{ object.pub_date }}</strong> Author: <strong>{{ object.creator.username }}</strong>
    <div class=""> 
        {{ object.text }} 
        <img src="/media/{{ object.picture }}">
        <a href="{{request.META.HTTP_REFERER}}">Go back</a>
    </div>

    <hr>

    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=object.pk %}">Add comment</a>
    {% endif %}
   
    {% for comment in object.comments.all %}
        {% if comment.approved_comment %}
        <div class="comment">
            <div class="date">{{ comment.creation_date }}</div>
            <strong>{{ comment.creator }}</strong>
            <p>{{ comment.content|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}

{% endblock %}